.produk-banner {
  background-color: #e6e6e6;
  position: relative;
  height: 90vh;
}

.produk-banner .content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.produk-banner h1 {
  font-size: 48px;
}

.produk-banner button {
  background-color: #fc8e1b;
  border: 0;
  color: #fff;
  display: inline-block;
  padding: 1.5rem 3rem;
  border-radius: 30px;
  margin-top: 10px;
  margin-left: 20px;
}

.our-product {
  padding: 4rem 0;
}

.our-product-title {
  text-align: center;
  font-size: 32px;
  position: relative;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.our-product-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 150px;
  height: 2px;
  background-color: black;
}

.our-product h3 {
  font-size: 32px;
  font-weight: 400;
}

.our-product button {
  border: 0;
}

.our-product .product-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  margin-top: 3rem;
}

.our-product .product-card {
  background-color: #f5f5f5;
  padding: 6rem 1rem;
}

.our-client h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #4a4a4a;
}

.our-client .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.our-client .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .our-product .product-grid {
    grid-template-columns: 1fr;
  }

  .our-client .container {
    display: flex;
    gap: 40px;
    flex-direction: column;
  }
}
