*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

img {
  object-fit: cover;
  width: 100%;
}

.container {
  max-width: 1250px;
  margin-inline: auto;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .container ul {
  display: flex;
  gap: 20px;
  align-items: center;
}
